.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.firstblock {
  display: flex;
  height: 200px;
  width: 300px;
  background-color: rgba(245, 250, 248, 0.63);
  margin: auto;
  border: 5px solid rgba(243, 237, 237, 0.35);
  border-radius: 8px;


}

.form {
  text-align: center;
  margin: 20px 0;
}

.form label {
  background-color: rgb(52, 240, 10);
  color: white;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.form label.active {
  background-color: rgb(73, 97, 218);
}

#editing {
  display: none;
}

.fields {
  margin: 10px 0;
}

.secondblock {
  height: 170px;
  width: 250px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  border: 200px;
  border: 6px solid rgba(221, 218, 218, 0.66);
  border-radius: 3px;

}

.day {
  font-size: 40px;
  font-weight: 700;
}

.hour {
  font-size: 60px;
  font-weight: 700;
}

.date {
  font-size: 20px;
  font-weight: 600;
}

.reset {
  display: flex;
  position: center;
  margin: 100px auto;
  background-color: rgb(33, 240, 10);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}

.reset:hover {
  background-color: rgb(10, 10, 27);
}
